
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-container {
  margin-top: 100px;

  background: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #4cae4c;
}

a {
  display: block;
  margin-top: 15px;
  color: #0e5e41;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.login-content{
  background: url('/public/mychef_background.jpeg') no-repeat   ;
  background-size: cover;
}

.signup-container{
  display: flex;
  justify-content: space-between;
}

.google-button {
  background-color: white !important;
  color: black !important;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 16px;
}

.google-button:hover {
  background-color: white !important;
}

.google-button img {
  margin-right: 10px;
}

.Toastify__close-button {
  width: 50px;
}
.Toastify__toast button:hover{
  background-color: none !important;
}