@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --darkmatter: #34495e;
  --darkermatter: #2c3e50;
  --greenapple: #2ecc71;
  --greyapple: #ecf0f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header{
  background: #f8f8f8 !important; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06) !important;
}
.MuiButtonBase-root{
  color: black !important;
}
.nav {
  background: #f8f8f8;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  justify-content: space-between;
  align-items: center;
}

.brand {
  cursor: pointer;
  justify-self: left;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.brand img {
  max-width: 120px;
  height: 70px;
  margin-right: 10px;
}

.nav-content {
  align-content: space-evenly;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.dropdown {
  background-color: #f8f8f8;
  display: none;
  text-align: center;
}

.dropdown a {
  padding: 10px;
}

.dropdown a:hover {
  color: gray;
  background-color:rgba(245, 245, 245, 0.267);
}

.links {
  display: grid;
  /* grid-auto-columns: minmax(min-content, 50px); */
  grid-auto-flow: column;
  grid-gap: 15px;
  place-items: center;
}

.links.nav-items {
  justify-self: right;
  padding-right: 15px;
}

.menu {
  -webkit-user-select: none;
  cursor: pointer;
  display: none;
  justify-self: right;
  margin-right: 15px;
  user-select: none;
}

.menu:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  
  .nav .content .links {
    display: none;
  }
  
  .nav .content .menu {
    display: initial;
  }
}
.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e60000;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0e5e41;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin-right: 10px;
}
.profile-dropdown {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 150px;
  z-index: 10;
}

.profile-dropdown a,
.profile-dropdown .logout-button {
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.profile-dropdown .logout-button {
  border: none;
  background: none;
  cursor: pointer;
}

.profile-dropdown a:hover,
.profile-dropdown .logout-button:hover {
  background-color: #f1f1f1;
}